<template>
  <div class="home">
    <!-- <div class="themeImg"></div> -->
    <img class="themeImg" :src="require('@/assets/draw-icon01.png')" alt="" />
    <button class="btn btn-start" @click="goToMain">开始</button>
  </div>
</template>

<script>
// @ is an alias to /src
// import LuckyDraw from "@/components/LuckyDraw.vue";
export default {
  name: "Home",
  components: {
    // LuckyDraw,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {
    goToMain() {
      this.$router.push("/screen");
      this.$API.goodlucky.resetAll().then((res) => {
        if (res.code == 1000) {
          console.log('签到结束,进入游戏')
        }
      });
    },
  },
};
</script>

<style lang="less">
.home {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.themeImg {
  width: calc(663 / 1400 * 100vw);
  height: calc(460 / 1440 * 100vw);
}
.btn {
  width: 200px;
  height: 70px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
}
.btn-start {
  padding: 2px;
  border: solid 2px transparent;
  border-radius: 20px;
  background-image: linear-gradient(#120135, #3b0b44),
    linear-gradient(to right, #21b7e2, #d323cb);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>