<template>
  <div class="result">
    <div class="title">
      <span>{{ prizeOption.awards_name}}</span>
      <!-- <span style="color: red">{{ prizeOption.awards_prize }}</span> -->
    </div>
    <div class="userList">
      <div class="user" v-for="u in resultData" :key="u.id">
        <div>
          <img class="useravatar" :src="u.avatarUrl" alt="userAvatar" />
          <div class="username">{{ u.phone }}</div>
          <div class="resultIcon" v-if="awardsId == 6">
            <img class="iconT" src="@/assets/draw-trophy.png" alt="" />
          </div>
          <div class="resultIcon1" v-if="awardsId == 5">
            <img class="icon01" src="@/assets/draw-level01.png" alt="" />
          </div>
          <div class="resultIcon1" v-if="awardsId == 4">
            <img class="icon01" src="@/assets/draw-level02.png" alt="" />
          </div>
          <div class="resultIcon3" v-if="awardsId == 3">
            <img class="icon01" src="@/assets/draw-level03.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-return" @click="$router.push('/screen')">
        继续抽奖
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Result",
  // props: ["resultData", "level"],
  data() {
    return {
      resultData: [],
      awardsId: 1,
      extractAmount: 10,
      prizeOption: {},
      prizeList:[]
    };
  },
  mounted() {
    console.log(this.prizeOption);
    const { awardsId, extractAmount } = this.$route.query;
    this.awardsId = awardsId;
    this.extractAmount = extractAmount;
    this.getResult();
    this.getLevelList();
  },
  methods: {
    // 获取奖项等级列表
    getLevelList() {
      this.$API.goodlucky.queryAwards().then((res) => {
        if (res.code == 1000) {
          this.prizeList = res.data;
          this.prizeOption = this.prizeList.filter((e) => e.awards_id == this.awardsId)[0];
          // console.log(prizeOption);
          // awards_id 等级ID
          // awards_name 奖项等级
          // awards_prize 奖品
          // awards_amount 中奖名额数
          // winning_amount 中奖剩余名额数
        }
      });
    },
    getResult() {
      this.$API.goodlucky
        .getLottery({
          // awardsId: this.rightPrize,
          // extractAmount: this.setPersons,
          awardsId: this.awardsId,
          extractAmount: this.extractAmount,
        })
        .then((res) => {
          if (res.code == 1000) {
            this.resultData = res.data;
          }
        });
    },
  },
};
</script>

<style lang="less" scoped>
.result {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title {
  font-family: cursive;
  font-size: 60px;
  color: hsl(203deg 98% 61%);
  text-shadow: 1px 1px #5a2dc1, -1px -1px #0d0ac5, 1px -1px #21e2d9,
    -1px 1px #2a6191;
}
.btn {
  width: 200px;
  height: 70px;
  font-size: 30px;
  position: relative;
  color: #21b7e2;
  font-size: 30px;
  &:before {
    content: attr(text);
    position: absolute;
    z-index: 10;
    color: #d323cb;

    mask: linear-gradient(to right, transparent, #d323cb);
  }
}
.btn-return {
  padding: 2px;
  border: solid 2px transparent;
  border-radius: 20px;
  background-image: linear-gradient(#120135, #3b0b44),
    linear-gradient(to right, #21b7e2, #d323cb);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user {
  width: 20%;
  position: relative;
  left: 0;
  top: 0;
  // background-color: #f93;
  .useravatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #d8d8d8;
    border: 1px solid #979797;
  }
  .username {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
  }
  .resultIcon {
    position: absolute;
    top: 20%;
    right: -40%;
    .iconT {
      width: 167px; // 334px
      height: 162px; // 327px
    }
  }
  .resultIcon1 {
    position: absolute;
    top: -50%;
    // left: 5%;
    left: 50%;
    transform: translateX(-50%);
    .icon01 {
      width: 235px; // 470px
      height: 158px; // 316px
    }
  }
  .resultIcon2 {
    position: absolute;
    top: -30%;
    // left: 5%;
    left: 50%;
    transform: translateX(-50%);
    .icon01 {
      width: 235px; // 470px
      height: 158px; // 316px
    }
  }
  .resultIcon3 {
    position: absolute;
    top: -30%;
    // left: 5%;
    left: 50%;
    transform: translateX(-50%);
    .icon01 {
      width: 138px; // 275px
      height: 90px; // 180px
    }
  }
}
</style>
