<template>
  <div class="screen">
    <LuckyDraw ref="lucky" />
    <div class="btn-ctrl">
      <a-button v-if="startState" class="ctrl-start" @click="onCtrlStart">
        开始
      </a-button>
      <a-button v-else class="ctrl-stop" @click="onClickBtnCtrl">
        暂停
      </a-button>
    </div>
    <div class="btn-select">
      <a-space>
      <a-select
        :defaultValue="rightPrize"
        style="width: 120px"
        placeholder="请选择奖项"
        @change="onchangePrize"
      >
        <a-select-option
          v-for="p in prizeList"
          :key="p.awards_id"
          :value="p.awards_id"
        >
          {{ p.awards_name }}
        </a-select-option>
      </a-select>
      <a-select
        autoClearSearchValue
        :defaultValue="setPersons"
        style="width: 120px"
        placeholder="请选择人数"
        @change="onchangePersons"
      >
        <a-select-option v-for="n in 10" :key="n" :value="n">
          {{ n + "人" }}
        </a-select-option>
      </a-select>
      <!-- <a-button shape="circle" @click="onRefresh">
        <template #icon><SyncOutlined /></template>
      </a-button> -->
      </a-space>
    </div>
    <!-- <result
      v-if="resultState"
      :resultData="resultData"
      :level="rightPrize"
    ></result> -->
  </div>
</template>

<script>
// @ is an alias to /src
import { SyncOutlined } from "@ant-design/icons-vue";
import LuckyDraw from "@/components/LuckyDraw.vue";
// import Result from "@/components/Result.vue";
// import Api from "@/server/api";
export default {
  name: "Screen",
  components: {
    LuckyDraw,
    SyncOutlined,
    // Result,
  },
  data() {
    return {
      // 状态 start stop result
      startState: true, // 开始 暂停按钮
      prizeList: [], // 奖项种类列表
      rightPrize: 1, // 选择的奖项 ID
      setPersons: 5, // [中奖人数]
      prizeOption: {},
      // resultState: false, // 开奖显示结果
      // resultData: [], // 中奖结果，【多个
      // isStartDisabled: false,  // 没有名额
      // isDisabledBtn: false,
    };
  },
  mounted() {
    this.getLevelList();
  },
  methods: {
    // onRefresh() {
    //   // this.startState = true;
    //   // this.$refs.lucky.updateRotate();
    //   this.getLevelList();
    //   // this.$API.goodlucky
    //   //   .resetAwardsAll({ awardsId: this.rightPrize })
    //   //   .then((res) => {
    //   //     if (res.code == 1000) {
    //   //     }
    //   //   });
    // },
    // 选择人数
    onchangePersons(val) {
      this.setPersons = val;
    },
    // 当奖项下拉变化的时候选中的参数
    onchangePrize(val) {
      console.log(val, "奖项级别");
      this.rightPrize = val;
    },
    // 获取奖项等级列表
    getLevelList() {
      this.$API.goodlucky.queryAwards().then((res) => {
        if (res.code == 1000) {
          this.prizeList = res.data;
        }
      });
    },
    // 开启 抽奖中
    onCtrlStart() {
      // console.log("start");
      // this.isStartDisabled = false;
      // 没有名额，禁止按钮
      // this.isStartDisabled = true;
      //  动画效果 球 ->> 旋转
      this.startState = false;
      // 重现冲抽奖关掉 公布结果框
      // this.resultState = false;
      this.$refs.lucky.startRotate();
    },
    // 停止 公布结果
    onClickBtnCtrl() {
      this.$refs.lucky.stopRotate();
      // 停止动画效果，开奖公布结果
      setTimeout(() => {
        this.$router.push({path: "/result", query: {awardsId: this.rightPrize, extractAmount: this.setPersons}});
      }, 500);
      // this.$API.goodlucky
      //   .getLottery({
      //     awardsId: this.rightPrize,
      //     extractAmount: this.setPersons,
      //   })
      //   .then((res) => {
      //     if (res.code == 1000) {
      //       this.resultData = res.data;
      //       this.startState = true;
      //       this.resultState = true;
      //       this.isDisabledBtn = true;
      //     }
      //   });
    },
  },
};
</script>

<style lang="less" socped>
@font-scale: 100vh / 1440px;
@font-size: 20px;
@fontH1: (@font-size * @font-scale);
.lucky {
  margin: 0 auto;
  text-align: center;
}

.btn-ctrl {
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.ctrl-start {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#fd9c00, #f87c08);
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  // font-family: serif;
  border: 0;
  border-color: transparent;
  // border: 12px solid #fd8e27;
  padding: 10px;
  box-shadow: 0 0 0 10px #f87c088e, 0 0 0 20px #f87c085e; // ffa552
  &:active,
  &:focus,
  &:hover {
    background: linear-gradient(#fd9c00, #f87c08);
    color: #fff;
    // border-color: #fd8e27;
    box-shadow: 0 0 0 10px #f87c088e, 0 0 0 20px #f87c085e, 0 0 0 30px #f87c0848,
      0 0px 0px 40px #f87c0821;
  }
}
.ctrl-stop {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#fd00a5, #0889f8);
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  // font-family: serif;
  border: 0;
  border-color: transparent;
  padding: 10px;
  box-shadow: 0 0 0 10px #a408f878, 0 0 0 20px #bd08f85e;
  &:active,
  &:focus,
  &:hover {
    background: linear-gradient(#fd00a5, #0889f8);
    color: #fff;
    // border-color: #fd8e27;
    box-shadow: 0 0 0 10px #a408f878, 0 0 0 20px #bd08f85e, 0 0 0 30px #bc08f842,
      0 0px 0px 40px #bc08f82c;
  }
}

.btn-select {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
</style>
