<template>
  <div class="draw">
    <div id="container"></div>
    <!-- <div id="menu">
      <button class="btnStyle" @click="btnClick(targets.sphere)" id="sphere">SPHERE</button>
      <button class="btnStyle" @click="btnClick(targets.grid)" id="grid">GRID</button>
    </div> -->
  </div>
</template>

<script>
import * as THREE from 'three/build/three.module';
import { TWEEN } from 'three/examples/jsm/libs/tween.module.min.js';
// import { TrackballControls } from "three/examples/jsm/controls/TrackballControls.js";
import {
  CSS3DRenderer,
  CSS3DObject,
} from 'three/examples/jsm/renderers/CSS3DRenderer.js';

export default {
  name: 'LuckyDraw',
  data() {
    this.interval = null;
    return {
      camera: '',
      scene: '',
      // mesh: {},
      renderer: '',
      controls: '',
      userList: [],
      objects: [],
      targets: {
        sphere: [],
        grid: [],
      },
    };
  },
  mounted() {
    this.nameList();
    this.animate();
  },
  methods: {
    webGlRender() {},
    nameList() {
      this.$API.goodlucky.queryPersonShow().then((res) => {
        // console.log(res, 'rest');
        if (res.code == 1000) {
          this.userList = res.data;
          // 返回人员数据/初始化场景
          this.init();
        }
      });
    },
    init() {
      this.camera = new THREE.PerspectiveCamera(
        40,
        window.innerWidth / window.innerHeight,
        1,
        10000,
      );
      this.camera.position.z = 3000;
      // 创建场景对象Scene
      this.scene = new THREE.Scene();

      /** grid **/
      this.userList.forEach((uobj) => {
        const element = document.createElement('div');
        // this.mesh = element;
        element.className = 'element';
        const number = document.createElement('div');
        number.className = 'number';
        number.textContent = uobj.id;

        // symbol.textContent 内容 改成头像
        const symbol = document.createElement('div');
        symbol.className = 'symbol';
        symbol.style.background = "url('" + uobj.headImgUrl + "')";
        symbol.style.backgroundPosition = 'center';
        symbol.style.backgroundSize = 'cover';
        element.appendChild(symbol);

        // 详情 姓名:index = table[i + 1] 手机号:index = table[i + 2]
        const details = document.createElement('div');
        details.className = 'details';
        details.innerHTML = uobj.phone;
        element.appendChild(details);

        const objectCSS = new CSS3DObject(element);
        // console.log(objectCSS, "???");
        objectCSS.position.x = Math.random() * 4000 - 2000;
        objectCSS.position.y = Math.random() * 4000 - 2000;
        objectCSS.position.z = Math.random() * 4000 - 2000;
        this.scene.add(objectCSS);

        this.objects.push(objectCSS);

        // grid
        // const object = new THREE.Object3D();

        // object.position.x = (i % 5) * 400 - 800;
        // object.position.y = -(Math.floor(i / 5) % 5) * 400 + 800;
        // object.position.z = Math.floor(i / 25) * 1000 - 2000;

        // this.targets.grid.push(object);
      });

      /** sphere **/
      const vector = new THREE.Vector3();
      for (let i = 0, l = this.objects.length; i < l; i++) {
        const phi = Math.acos(-1 + (2 * i) / l);
        const theta = Math.sqrt(l * Math.PI) * phi;

        const object = new THREE.Object3D();

        object.position.setFromSphericalCoords(800, phi, theta);

        vector.copy(object.position).multiplyScalar(2);

        object.lookAt(vector);

        this.targets.sphere.push(object);
      }

      /** grid **/

      // for (let i = 0; i < this.objects.length; i++) {
      //   const object = new THREE.Object3D();

      //   object.position.x = (i % 5) * 400 - 800;
      //   object.position.y = -(Math.floor(i / 5) % 5) * 400 + 800;
      //   object.position.z = Math.floor(i / 25) * 1000 - 2000;

      //   this.targets.grid.push(object);
      // }

      /** 渲染函数 **/
      this.renderer = new CSS3DRenderer();
      this.renderer.setSize(window.innerWidth, window.innerHeight);
      document
        .getElementById('container')
        .appendChild(this.renderer.domElement);

      //

      // this.controls = new TrackballControls(this.camera, this.renderer.domElement);
      // this.controls.minDistance = 500;
      // this.controls.maxDistance = 6000;
      // this.controls.addEventListener("change", this.render);

      // const buttonSphere = document.getElementById("sphere");
      // buttonSphere.addEventListener("click", function () {
      //   this.transform(this.targets.sphere, 2000);
      // });

      // const buttonGrid = document.getElementById("grid");
      // buttonGrid.addEventListener("click", function () {
      //   this.transform(this.targets.grid, 2000);
      // });

      // 球型
      this.transform(this.targets.sphere, 2000);
      // 穿越
      // this.transform(this.targets.grid, 2000);

      //

      window.addEventListener('resize', this.onWindowResize);
    },

    transform(targets, duration) {
      TWEEN.removeAll();

      for (let i = 0; i < this.objects.length; i++) {
        const object = this.objects[i];
        const target = targets[i];

        new TWEEN.Tween(object.position)
          .to(
            {
              x: target.position.x,
              y: target.position.y,
              z: target.position.z,
            },
            Math.random() * duration + duration,
          )
          .easing(TWEEN.Easing.Exponential.InOut)
          .start();

        new TWEEN.Tween(object.rotation)
          .to(
            {
              x: target.rotation.x,
              y: target.rotation.y,
              z: target.rotation.z,
            },
            Math.random() * duration + duration,
          )
          .easing(TWEEN.Easing.Exponential.InOut)
          .start();
      }

      new TWEEN.Tween(this)
        .to({ rotation: 180 }, duration * 200)
        .onUpdate(this.render)
        .start();
    },

    onWindowResize() {
      this.camera.aspect = window.innerWidth / window.innerHeight;
      this.camera.updateProjectionMatrix();

      this.renderer.setSize(window.innerWidth, window.innerHeight);

      this.render();
    },

    animate() {
      requestAnimationFrame(this.animate);

      TWEEN.update();

      // this.controls.update();
    },

    render() {
      this.renderer.render(this.scene, this.camera);
    },
    // startRotate() {
    //   this.interval = setInterval(() => {
    //     this.camera.rotateZ(0.3);
    //     this.objects.forEach((val) => {
    //       // val.rotation.x += 0.1;
    //       // val.rotation.y += 0.1;
    //       val.rotation.z += 0.1;
    //     });
    //     this.renderer.render(this.scene, this.camera);
    //   }, 10);
    // },
    startRotate() {
      this.interval = setInterval(() => {
        this.scene.rotateY(0.08);
        this.objects.forEach((val) => {
          // val.rotation.x += 0.1;
          // val.rotation.y += 0.1;
          val.rotation.z += 0.1;
        });
        this.renderer.render(this.scene, this.camera);
      }, 10);
    },
    stopRotate() {
      clearInterval(this.interval);
    },
    // updateRotate() {
    //   console.log("样式打散效果");
    //   this.nameList();
    // }
    // btnClick(typeName) {
    //   this.transform(typeName, 2000);
    // },
  },
};
</script>

<style lang="less" socped>
/* self custom style */
/* 默认尺寸1440px 比例/变量 */
@font-scale: 100vh / 1440px;
@font-size: 20px;

html {
  font-size: (@font-size);
}
// .draw {

// }

/*  */
a {
  color: #8ff;
}

#menu {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

.element {
  width: 120px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}
.symbol {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.element .symbol {
  position: absolute;
  /* top: 40px; */
  top: 10px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: #7fffffbf;
}

button {
  color: hsla(180, 100%, 75%, 0.75);
  background: transparent;
  /* outline: 1px solid rgba(127, 255, 255, 0.75); */
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}
</style>
