<template>
  <div class="btn-result">
    <div class="result" v-for="u in resultData" :key="u.id">
      <div>
        <img class="useravatar" :src="u.avatarUrl" alt="userAvatar" />
        <div class="username">{{ u.phone }}</div>
        <div class="resultIcon" v-if="level == 6">
          <img class="iconT" src="@/assets/draw-trophy.png" alt="" />
        </div>
        <div class="resultIcon1" v-if="level == 5">
          <img class="icon01" src="@/assets/draw-level01.png" alt="" />
        </div>
        <div class="resultIcon1" v-if="level == 4">
          <img class="icon01" src="@/assets/draw-level02.png" alt="" />
        </div>
        <div class="resultIcon3" v-if="level == 3">
          <img class="icon01" src="@/assets/draw-level03.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Result",
  props: ["resultData", "level"],
  data() {
    return {
      // userList: [],
    }
  },
  mounted() {
    // console.log(this.$props.resultData, 33)
    // this.userList = this.$props.resultData;
    //  console.log(this.userList, 44)
  },
  methods: {
    
  },
 
  watch: {
    
  }
}
</script>

<style lang="less">
.btn-result {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.result {
  position: relative;
  left: 0;
  top: 0;
  .useravatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #d8d8d8;
    border: 1px solid #979797;
  }
  .username {
    color: #ffffff;
    font-size: 30px;
  }
  .resultIcon {
    position: absolute;
    top: 20%;
    right: -40%;
    .iconT {
      width: 167px; // 334px
      height: 162px; // 327px
    }
  }
  .resultIcon1 {
    position: absolute;
    top: -30%;
    // left: 5%;
    left: 50%;
    transform: translateX(-50%);
     .icon01 {
      width: 235px; // 470px
      height: 158px; // 316px
    }
  }
  .resultIcon2 {
    position: absolute;
    top: -30%;
    // left: 5%;
    left: 50%;
    transform: translateX(-50%);
     .icon01 {
      width: 235px; // 470px
      height: 158px; // 316px
    }
  }
  .resultIcon3 {
    position: absolute;
    top: -30%;
    // left: 5%;
    left: 50%;
    transform: translateX(-50%);
     .icon01 {
      width: 138px; // 275px
      height: 90px; // 180px
    }
  }
}
</style>
