<template>
  <div>
    <div class="logo">
      <img src="@/assets/companyLogo.png" alt="">
    </div>
    <router-view/>
  </div>

</template>

<style lang="less">
.logo {
  position: absolute;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}
@font-size: 20px;
html {
  font-size: @font-size;
}

body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFFFFF;
  height: 100vh;
  background: url('./assets/bgimg.png') no-repeat center;
  background-size: cover;
  padding: 0px;
  box-sizing: border-box;
}
</style>
